@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    background-image: url(noise.svg);
    background-color: rgb(17, 17, 17);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px;
    z-index: 100;
}

select {
    width: calc(15% - 20px);
    padding: 5px;
    z-index: 100;
}

input {
    width: calc(85% - 20px);
    padding: 5px;
    z-index: 100;
}